html {
  margin-top: 32px; 
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #25282c;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  color: #2c3e50;
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-panel {
  height: 100%;
  display: flex;
  left: 30.2rem;
  position: absolute;
  flex-direction: column;
  width: calc(100% - 30.2rem);
  transition: all .3s ease-out;
}

.ui.negative.button {
  background-color: #1b1c1d;
}

.ui.negative.button:hover {
  background-color: #25282c;
}

.ui.positive.button {
  background-color: #187FE7;
}

.ui.positive.button:hover {
  background-color: #4699ec;
}