<div id="app">
    <notifications group="alerts" position="bottom right" />
    <sidebar 
        v-bind:languageFilter="languageFilter"
        @clicked-login="login"
        @clicked-logout="logout"
        @toggleSnippet="displaySnippet"
        @clicked-new="resetActiveSnippet"
        @clicked-language="setLanguageFilter"        
    />
    <snippet-list 
        v-bind:activeSnippet="activeSnippet"
        @clicked-snippet="displaySnippet"
    />
    <menubar 
        v-bind:activeSnippet="activeSnippet" 
        @clicked-save="save"
        @clicked-del="del"
        @clicked-pin="togglePin"
    />
    <snippet v-bind:activeSnippet="activeSnippet" />
    <div class="ui mini modal">
        <div class="header">Logout</div>
        <div class="content">Are you sure you want to logout?</div>
        <div class="actions">
            <div class="ui negative button">No</div>
            <div class="ui positive button">Yes</div>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">Create a Label</div>
        <div class="content">
            <div class="field">
                <label>Title</label>
                <input type="text" placeholder="Documentation...">
            </div>
        </div>
        <div class="actions">
            <div class="ui negative button">Cancel</div>
            <div class="ui positive button">Save</div>
        </div>
    </div>
</div>
