<div id="app">
    <notifications group="alerts" position="bottom right" />
    <sidebar 
        v-bind:languageFilter="languageFilter"
        @clicked-login="login"
        @clicked-new="resetActiveSnippet"
        @clicked-language="setLanguageFilter"        
    />
    <snippet-list 
        v-bind:activeSnippet="activeSnippet"
        @clicked-snippet="displaySnippet"
    />
    <menubar 
        v-bind:activeSnippet="activeSnippet" 
        @clicked-save="save"
        @clicked-del="del"
        @clicked-pin="togglePin"
    />
    <snippet v-bind:activeSnippet="activeSnippet" />
</div>
