h5.ui.header {
  text-align: center !important;
}

.no-snippets {
  padding: 20%;
}

.ui.vertical.menu .active.item {
  transition: all .3s;
  border-left: 6px solid #187FE7;
}

#snippet-list {
  top: 0;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  margin: 0 0 0 15rem;
  width: 16.1rem !important;
  background-color: #f8f8f8;
}

#snippet-list::-webkit-scrollbar-thumb {
  background-color: #25282c;
}

.snippet-content {
  left: 0;
  width: 80%;
  margin-left: 16px;
  text-align: left;
  overflow: hidden;
  position: absolute;
  line-height: 1.1em;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  color: rgba(0,0,0,.6);
}

.snippet-icon-type {
  top: 44%;
  right: 8px;
  display: block;
  padding-left: 8px;
  position: absolute;
}

#snippet-list-header {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  justify-content: left;
  border-bottom: 1px solid #eee;
}

.snippet-title {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0,0,0,.87);
  padding-left: 0 !important;
}

.ui.inline.dropdown>.text {
  font-weight: 300 !important;
}