.bold {
  color: #24292e !important;
}

.calendar {
  color: rgba(0,0,0,.87);
}

#content {
  width: 100%;
  flex-grow: 1;
}

.created-date {
  float: left;
  text-align: left;
}

#created-on {
  margin-left: 34px;
}

#detail {
  width: 100%;
  display: flex;
  padding-top: 8px;
  align-items: left;
  flex-direction: column;
}

.detail-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#description-wrapper {
  padding: 6px;
  margin-left: 30px;
  width: calc(100% - 60px);
}

#gist-privacy {
  margin-left: 30px;
  color: rgba(0,0,0,.87);  
}

#snippet-container {
  left: 1px;
  width: 100%;
  z-index: 100;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all .3s ease-out;
}

.star {
  color: rgba(0,0,0,.87);
}

#star-count {
  display: flex;
  color: rgba(0,0,0,.87) !important;
}

textarea {
  float: left;
  resize: none !important;  
  font-size: .85714286em !important;
  color: rgba(0,0,0,.5) !important;
}

#title {
  width: 14em;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  color: rgba(0,0,0,.87);
  padding-right: 0 !important;
  -webkit-font-smoothing: antialiased;
}

.title-row {
  display: flex;
  margin-left: 34px;
}

#title::-webkit-input-placeholder {
  font-style: italic;
}

#title-wrapper {
  width: 100%;
  margin-bottom: 8px;
}

.ui.multiple.dropdown {
  margin-left: 30px;
  font-size: .92857143em;
  color: rgba(0,0,0,.87);
}

.ui.tabular.menu+.attached:not(.top).segment {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}