.adjust {
  margin-left: 34px;
}

.bold {
  color: #24292e !important;
}

.calendar {
  color: rgba(0,0,0,.87);
}

#content {
  width: 100%;
  flex-grow: 1;
}

.created-date {
  float: left;
  text-align: left;
  margin-left: 12px;
}

#created-on {
  margin-left: 34px;
}

#detail {
  width: 100%;
  display: flex;
  padding-top: 8px;
  align-items: left;
  flex-direction: column;
}

.detail-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#description-wrapper {
  padding: 6px;
  margin-left: 30px;
  width: calc(100% - 60px);
}

.gist-item {
  padding: .8em !important;
}

#gist-privacy {
  margin-left: 30px;
  color: rgba(0,0,0,.87);  
}

#gist-stars {
  width: 37px;
  height: 40px;
  display: flex;
  flex: 0 0 44px;
  margin-left: 22px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#gist-stats {
  box-shadow: none;
  margin-left: auto;
  margin-right: 34px;
}

#snippet-container {
  left: 1px;
  width: 100%;
  z-index: 100;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all .3s ease-out;
}

#snippet-labels {
  display: flex;
  justify-content: space-between;
}

.star {
  cursor: pointer;
}

#star-count {
  margin-left: 0;
  margin-top: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  background: rgb(26, 143, 254);
}

textarea {
  float: left;
  resize: none !important;  
  font-size: .85714286em !important;
  color: rgba(0,0,0,.5) !important;
}

#title {
  width: 14em;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  color: rgba(0,0,0,.87);
  padding-right: 0 !important;
  -webkit-font-smoothing: antialiased;
}

.title-row {
  width: 100%;
  display: flex;
}

#title::-webkit-input-placeholder {
  font-style: italic;
}

#title-wrapper {
  margin-bottom: 8px;
}

.ui.multiple.dropdown {
  margin-left: 30px;
  font-size: .92857143em;
  color: rgba(0,0,0,.87);
}

.ui.tabular.menu+.attached:not(.top).segment {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}