<div id="snippet-container">
    <div id="detail">
        <div class="row">
          <div id="title-wrapper" class="ui large icon input transparent">         
            <input v-if="activeSnippet" v-model="activeSnippet.title" class="title" type="text" placeholder="Untitled Snippet">
          </div>
        </div>
    
        <div class="row">
          <div id="created-on">
            <i class="calendar outline icon"></i>
            <p class="small created-date">
              Created by <strong class="bold">{{ activeSnippet.owner }}</strong> <br/> <strong>{{ activeSnippet.createdOn }}</strong>
            </p>
          </div>
        </div>

        <div class="row" id="description-wrapper">
            <div class="ui form">
              <div class="field">
                <label>Description <span class="small">(optional)</span></label>
                <textarea id="description" v-model="activeSnippet.description" rows="2">{{ activeSnippet.description }}</textarea>
              </div>
            </div>
        </div>
    </div>
      
  <div id="content"></div>
</div>