#add-label {
  margin: 0;
  float: right;
  cursor: pointer;
  text-decoration: none;
  color: #eee !important;
  color: rgba(255,255,255,.5);
  background: none !important;
  padding-left: 0 !important;
  padding-right: 2.2em !important;
}

.add-label:hover {
  color: #fff;
}

.avatar {
  width: 8rem;
  border-radius: 50px;
}

#create-label {
  color: #ffffff;
  background: #187FE7;
}

#create-label:hover {
  background: #4699ec;
}

.count {
  float: right;
}

.header {
  background: 0 0;
  text-align: left !important;
  padding: .5em 1.33333333em !important;
  color: rgba(255,255,255,.9);
}

.hidden {
  display: none;
}

.item.languages {
  padding-top: 0 !important;
}

.label-header {
  margin-left: 1rem !important;
}

.label-input {
  width: 12em !important;
  margin-top: 0 !important;  
}

#label-warn,
#color-warn {
  color: #d73a4a;
  margin-left: .75rem;
}

.labels-wrapper .header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.language {
  text-align: left;
}

.languages {
  padding-top: 0;
  height: 10.5rem;
  overflow-y: scroll;
}

.languages-wrapper {
  height: 12.5rem;
  padding: 1rem 0 0 0 !important;
}

.logo {
  color: white;
  margin: 24px 10px 10px 10px !important;
}

.logout-wrapper {
  padding-top: 1rem;
}

#new {
  text-align: left;
}

.no-float-icon {
  margin: 0 !important;
  float: none !important;
}

#new::before,
.logout::before,
.languages::before,
.labels-wrapper::before,
.languages-wrapper::before,
.pinned-snippets-wrapper::before {
  background: none !important;
}

.pinned-item {
  text-align: left;
  padding-left: 0 !important;
}

.pinned-snippets-wrapper .header {
  padding: 0 !important;
  text-align: left !important;
}

.plus {
  background: none !important;
}

.short {
  width: 8em;
}

#sidebar {
  position: absolute;
}

.two.fields {
  margin: .5rem .78571429rem !important;
}

.random {
  position: relative;
  top: 2px !important;
  margin: 0 !important;
}

.random-button {
  padding: .75rem !important;
}

.random-button i {
  color: #ffffff;
}

.two.fields {
  display: flex;
  justify-content: space-between;
}

.ui.button.fluid {
  width: 90%;
  margin: 0 auto;
}

.ui.vertical.menu {
  width: 15rem !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background-color: rgba(255,255,255,.9);
}