<div id="sidebar" class="ui left fixed vertical menu inverted">
  <a @click.end="resetSnippetView" id="new" class="item">
    <i class="file icon new-icon"></i> New
  </a>

  <div class="item pinned-snippets-wrapper">
      <div class="header">Pinned Snippets</div>
      <div class="pinned-snippets">
        <div class="menu">
          <div v-for="(snippet) in pinnedSnippets">
            <a @click.end="toggleSnippet(snippet)" class="item pinned-item">
              {{ snippet.title }}
            </a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="item languages-wrapper">
    <div class="header">Languages</div>
    <div class="item languages">
      <div class="menu">
        <a class="item language">#All</a>
        <a class="item language">#JavaScript</a>
        <a class="item language">#C++</a>
        <a class="item language">#Java</a>
        <a class="item language">#C#</a>
        <a class="item language">#CSS</a>
        <a class="item language">#HTML</a>
        <a class="item language">#C</a>
        <a class="item language">#Swift</a>
        <a class="item language">#Scala</a>
        <a class="item language">#Plain Text</a>        
        <a class="item language">#Objective-C</a>
        <a class="item language">#Go</a>
        <a class="item language">#PHP</a>
        <a class="item language">#R</a>
        <a class="item language">#Ruby</a>
        <a class="item language">#Perl</a>
        <a class="item language">#Python</a>
        <a class="item language">#Visual Basic</a>
      </div>
    </div>
  </div>

  <br />
  
  <div class="item tags-wrapper">
    <div class="header">Tags</div>
    <div class="menu"></div>
  </div>
</div>