<div id="sidebar" class="ui left fixed vertical menu inverted">
  <i class="folder icon big logo"></i>
  <a v-if="!isLoggedIn" v-on:click="$emit('clicked-login')" id="login" class="item">
    <i class="github icon no-float-icon"></i> Login
  </a>
  <div v-else class="logout-wrapper">
    <img class="avatar" src="https://avatars1.githubusercontent.com/u/7710149?v=4" />      
    <a v-on:click="$emit('clicked-logout')" class="item logout">
      <i class="github icon no-float-icon"></i> Logout
    </a>
  </div>
  <a v-on:click="$emit('clicked-new')" id="new" class="item">
    <i class="file icon no-float-icon"></i> New
  </a>

  <div v-if="pinnedSnippets.length > 0" class="item pinned-snippets-wrapper">
      <div class="header">Pinned Snippets</div>
      <div class="pinned-snippets">
        <div class="menu">
          <div v-for="(snippet) in pinnedSnippets">
            <a v-on:click="$emit('toggleSnippet', snippet)" class="item pinned-item">
              {{ snippet.title }}
            </a>
          </div>
        </div>
      </div>
  </div>

  <div class="item labels-wrapper">
    <div class="header">
      Labels
      <div id="add-label" class="ui floating labeled icon dropdown button">
        <i class="plus icon"></i>
        <div class="menu">
            <div class="label-header header">
              Label Name
            </div>
            <div class="ui icon input label-input">
              <input type="text" name="label" placeholder="New label name...">
            </div>
            <div class="label-header header">
                Color
            </div>
            <div class="two fields">
              <div v-on:click="setColor" class="ui button random-button">
                <i class="icon random"></i>
              </div>
              <div class="ui icon input">
                <input v-on:keyup="validate" class="short color" type="text" name="color" v-model="color">
              </div>
            </div>
          <div class="header">
            <div id="create-label" class="ui button fluid">Create Label</div>                
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="item languages-wrapper">
    <div class="header">Languages</div>
    <div class="item languages">
      <div class="menu">
        <a :class="{ active: activeEl === 'All' }" class="item language" @click="setLanguage('All')">
          All
          <span class="count">{{ snippetCount }}</span>
        </a>
      </div>
      <div v-for="(value, key) in languages" class="menu language-list">
        <a :class="{ active: activeEl === key }" class="item language" @click="setLanguage(key)">
          {{ key }}
          <span class="count">{{ value }}</span>
        </a>
      </div>
    </div>
  </div>
</div>