.field label {
  float: left;
}

#header {
  width: 100%;
  z-index: 102;
  padding-top: 10px;
  background-color: #fff;
  border-left: 1px solid #eee;
}

#header-menu {
  border: none;
  border-left: 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

i.icon.heart.outline:before {
  content: "\f004";
}

i.calendar {
  float: left;
  margin-top: 5px;
}

.language-selector:before {
  background: none !important;
}

#save:before, #pin:before, #del:before {
  background: none !important;
}

.small {
  font-size: .85714286em;
  color: rgba(0,0,0,.5);
}

#snippet-search {
  margin-left: 34px;
}