<div id="header">

  <div id="header-menu" class="ui menu">
    <div v-if="!expandedView" id="snippet-search" class="ui icon input">
      <input v-on:keyup="search" type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>

    <div id="snippet-menu" class="right menu">

      <a v-on:click="$emit('clicked-save')" id="save" class="item menu-item">
        <i class="save outline icon"></i>
      </a>

      <a v-on:click="$emit('clicked-del')" id="del" class="item menu-item">
        <i class="trash alternate outline icon"></i>
      </a>

      <a v-on:click="$emit('clicked-pin')" id="pin" class="item menu-item">
        <i :class="{ outline: !activeSnippet.isPinned }" class="heart icon"></i>
      </a>

      <a v-on:click="expandSnippetView()" id="expand" class="item menu-item">
        <i class="expand icon"></i>
      </a>

      <div id="extras" class="ui icon top right dropdown item menu-item">
          <i class="ellipsis vertical icon"></i>
          <div class="menu">
            <div id="settings" class="item">Settings</div>
            <div v-on:click="showAboutModal" id="about-btn" class="item">About</div>
          </div>
      </div>
    </div>

  </div>

</div>